body { 
	padding-top:30px;
	background: #ff5e63; /* Fallback for browsers that don't support gradients */
	font-family: "Varela Round", sans-serif;
	background: linear-gradient(#333333, #dd1818)  no-repeat; 
}
        
form { 
	margin-bottom:50px; 
}

.reg-form {
	width: 500px;   
	margin: 0 auto;
	padding: 40px 0;
}
	 
.reg-form form {
    background: #fff;
    padding: 40px;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
	.reg-form {
		width: 100%;
	}
}

.req{
      color:red;
}